@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        @apply border-border;
    }

    *:focus {
        outline: none;
    }
}

:root {
    /* Variables defined in ThemeContext.tsx */
    
    --popover: var(--background);
    --primary-foreground: var(--background);

    --card: var(--primary);
    --foreground: var(--primary);
    --card-foreground: var(--primary);
    --popover-foreground: var(--primary);
    --secondary-foreground: var(--primary);
    --accent-foreground: var(--primary);
    --destructive-foreground: var(--primary);
    
    --muted-foreground: var(--secondary);
    
    --border: var(--tirtiary);
    --muted: var(--tirtiary);
    --accent: var(--tirtiary);
    --input: var(--tirtiary);
    
    --ring: 0 0% 83.1%;
    --destructive: 0 62.8% 30.6%;
    
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;

    --radius: 0.5rem;
}